[submodule "v/core/pathogen"]
	path = v/core/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "v/plugins/nerdcommenter"]
	path = v/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "v/plugins/nerdtree"]
	path = v/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "v/plugins/indentLine"]
	path = v/plugins/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "v/plugins/syntastic"]
	path = v/plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "v/plugins/vim-gitgutter"]
	path = v/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "v/plugins/vim-better-whitespace"]
	path = v/plugins/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "v/plugins/vim-python-pep8-indent"]
	path = v/plugins/vim-python-pep8-indent
	url = https://github.com/blueyed/vim-python-pep8-indent.git
[submodule "v/plugins/vim-snippets"]
	path = v/plugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "v/plugins/tlib_vim"]
	path = v/plugins/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "v/plugins/vim-addon-mw-utils"]
	path = v/plugins/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "v/plugins/vim-snipmate"]
	path = v/plugins/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "v/plugins/ale"]
	path = v/plugins/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "v/colors/hybrid"]
	path = v/colors/hybrid
	url = https://github.com/w0ng/vim-hybrid.git
